.done{
	opacity:.2;
	text-decoration: line-through;
}

body{
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

p{
	font-size: 1.1vw;
	margin-left:3%;
}

h1{
	margin-left:3%;
	font-size: 3.3vw;
	margin-bottom: 0;

}

li{
	font-size: 1.7vw;
	list-style-type: none;
	margin-top: 2%;
}

button{
	background-color: white;
	border:.1px solid #D7D7D7;
	padding:.5%;
}

